@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: 'Red Hat Display', sans-serif;
}

.dark-input {
  background-color: #1a1a1a;
  color: #f0f0f0;
}
